﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<section class="resources block">
    <div class="grid-block">
        <p>
            Сайты, где можно найти информацию по мобильной разработке
        </p>
        <div class="resources__content">
            <div class="resource">
                <a href="https://reactnative.dev/" target="_blank" class="resource__inner">
                    <img class="resource__img" src="https://nukc.listenlite.com/images/react-native.jpeg">
                    <h3 class="resource__title">
                        Официальная документация React Native
                    </h3>
                </a>
            </div>
            <div class="resource">
                <a href="https://learn.javascript.ru/" target="_blank" class="resource__inner">
                    <img class="resource__img" src="https://hsto.org/webt/9t/29/hx/9t29hxcu4fftzxzxwrr-qakimny.jpeg">
                    <h3 class="resource__title">
                        Учебник Learn JavaScript
                    </h3>
                </a>
            </div>
            <div class="resource">
                <a href="https://developer.android.com/" target="_blank" class="resource__inner">
                    <img class="resource__img" src="https://securenews.ru/wp-content/uploads/2017/01/android.jpg">
                    <h3 class="resource__title">
                        Официальная документация по android разработке
                    </h3>
                </a>
            </div>
        </div>
    </div>
</section>