﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header class="header">
    <div class="grid-block">
        <a asp-controller="Home" asp-action="Index">
            <img class="header__logo" src="~/images/logo.png" alt="">
        </a>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-list-item">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="header__nav-list-item">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="header__nav-list-item">
                    <a class="" asp-area="" asp-controller="Home" asp-action="Links">Ресурсы</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main role="main">
    @RenderBody()
</main>

<footer class="footer block">
    <div class="grid-block">
        &copy; 2020 - WebApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>