﻿/*!* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification*/
/*for details on configuring this project to bundle and minify static web assets. *!*/

/*a.navbar-brand {*/
/*    white-space: normal;*/
/*    text-align: center;*/
/*    word-break: break-all;*/
/*}*/

/*!* Provide sufficient contrast against white background *!*/
/*a {*/
/*    color: #0366d6;*/
/*}*/

/*.btn-primary {*/
/*    color: #fff;*/
/*    background-color: #1b6ec2;*/
/*    border-color: #1861ac;*/
/*}*/

/*.nav-pills .nav-link.active, .nav-pills .show > .nav-link {*/
/*    color: #fff;*/
/*    background-color: #1b6ec2;*/
/*    border-color: #1861ac;*/
/*}*/

/*.logo {*/
/*    height: 100px;*/
/*}*/

/*!* Sticky footer styles*/
/*-------------------------------------------------- *!*/
/*html {*/
/*    font-size: 14px;*/
/*}*/

/*@media (min-width: 768px) {*/
/*    html {*/
/*        font-size: 16px;*/
/*    }*/
/*}*/

/*.border-top {*/
/*    border-top: 1px solid #e5e5e5;*/
/*}*/

/*.border-bottom {*/
/*    border-bottom: 1px solid #e5e5e5;*/
/*}*/

/*.box-shadow {*/
/*    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);*/
/*}*/

/*button.accept-policy {*/
/*    font-size: 1rem;*/
/*    line-height: inherit;*/
/*}*/

/*!* Sticky footer styles*/
/*-------------------------------------------------- *!*/
/*html {*/
/*    position: relative;*/
/*    min-height: 100%;*/
/*}*/

/*body {*/
/*    !* Margin bottom by footer height *!*/
/*    margin-bottom: 60px;*/
/*}*/

/*.footer {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    white-space: nowrap;*/
/*    line-height: 60px; !* Vertically center the text there *!*/
/*}*/


a {
    color: #61dafb;
    text-decoration: none;
    transition: .4s;
}

p {
    font-size: 16px;
}

h1 {
    font-weight: normal;
}

a:hover {
    color: #277b92;
    text-decoration: none;
}

.grid-block {
    max-width: 1400px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}

.block{
    margin: 60px 0;
}

.header .grid-block {
    display: flex;
}

.header__logo {
    height: 70px;
    transition: .4s;
}

.header__logo:hover {
    opacity: .7;
}

.header__nav {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.header__nav-list {
    display: flex;
    margin: 0;
}

.header__nav-list-item {
    margin: 0 5px;
    list-style-type: none;
}

.header__nav-list-item a {
    font-size: 18px;
    font-weight: bold;
}

.footer {
    font-size: 18px;
}


.std .grid-block {
    display: flex;
    justify-content: space-between;
}

.std__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

.phone {
    background: #acb0af;
    border-radius: 30px;
    width: 311px;
    height: 620px;
    padding: 30px 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone__song {
    height: 10px;
    width: 60px;
    background: #707070;
    border: 1px solid #acacac;
    border-radius: 5px;
    margin-bottom: 10px;
}

.phone__camera {
    background: #4f4f4f;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.phone__screen {
    background: #ffffff;
    border-radius: 10px;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.phone__content {
    font-size: 20px;
}

.phone__button {
    background: #393939;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 10px;
}

.react {
    width: 200px;
    height: 200px;
}

@keyframes circle {
    from {

    }
    to {
        transform: rotate(360deg);
    }
}

.react {
    animation: circle 8s infinite alternate;
    transform-origin: center;
}


.articles .grid-block {
    display: flex;
    flex-wrap: wrap;
}

.article {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}

.article__inner {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #61dafb;
    display: flex;
    flex-direction: column;
    transition: .4s;
}

.article__inner:hover{
    background: #61dafb;
}

.article__title {
    font-size: 22px;
    line-height: 25px;
    color: #61dafb;
    transition: 0s;
}

.article__inner:hover .article__title{
    color: white;
}

.article__title:hover{
    color: #ffffff;
}

.article__note {
    font-size: 18px;
    line-height: 20px;
    margin-top: 10px;
    color: #1b1e21;
}

.resources .grid-block{
   
}

.resources__content{
    display: flex;
    flex-wrap: wrap;
}

.resource{
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.resource__inner{
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 200px;
}
.resource__inner:hover .resource__img{
    transform: scale(1.5);
}
.resource__inner:hover .resource__title{
    border: 1px solid white;
}
.resource__inner:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    z-index: 2;
}

.resource__img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 8s;
    object-fit: cover;
    z-index: 1;
}

.resource__title{
    color: white;
    width: 100%;
    margin: auto;
    text-align: center;
    z-index: 2;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}